body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: blue;
}
.button {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial;
}

.button:hover {
    background-color: darkblue;
}

//Navigation button

body {
    margin: 0;
    font-family: Arial;
}

/* Layout container */
.container {
    display: flex;
}

/* Sidebar */
nav {
    width: 200px;
    height: 100vh;
    background-color: #333;
    padding-top: 20px;
}

/* Links inside sidebar */
nav a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
}

/* Hover effect */
nav a:hover {
    background-color: #575757;
}

/* Main content area */
main {
    flex: 1;
    padding: 20px;
}
