body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: blue;
}
.button {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial;
}

.button:hover {
    background-color: darkblue;
}

//Navigation button

nav {
    background-color: #333;
    padding: 15px;
    text-align: left;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
