body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: blue;
}
.button {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial;
}

.button:hover {
    background-color: darkblue;
}
